#AdminWrapper
  +size(100%,100%,null)
  
.common
  +size(100%,auto)
  min-width: 1200px
  min-height: 600px
  padding: 20px 0

.tabContainer
  position: relative
  padding: 20px 25px
  height: calc(100% - 45px)
  min-height: 700px
  .adminPanel
    +Flex(space-between)
    padding-bottom: 0.85rem
    font-weight: 700
  p 
    color: $darkGray
    width: 3rem
    margin-right: 0.5rem
    font-size: 15px
  .searchBlock
    +Flex(flex-start,center)
    .search
      +Flex
      &:last-child
        width: 350px
        margin-left: 3rem
        >p
          width: 5rem
  .type
    +Flex
  .tableWrapper
    .el-button
      width: 80px
  .el-checkbox-group
    margin-left: 20px
    .el-checkbox
      margin-right: 20px

.commonBtnGroup  
  +Flex(flex-end,center)
  position: relative
  padding: .6rem
  width: 100%
  background: $c1
  border-right: 1px solid $tableLineColor
  border-left: 1px solid $tableLineColor

#OrderMerge
  .infoBlock
    width: 100%
    +Flex()
    margin-bottom: 10px
    .checkBlock
      flex: 4
      .ellipsis
        +ellipsis()
        width: 10rem
        font-size: 1rem
    .infoDetail
      +Flex(space-between,center)
      color: #5f5c5c
      flex: 2
  .listBlock
    overflow: hidden
    .listTable
      height: 100%
      margin-bottom: 20px
    .row
      .cell
        &:first-child,&:nth-child(2),&:last-child
          flex: 1        
        flex: 1
        >ul
          >li
            line-height: 24px
    .listBody
      display: flex
      flex-wrap: wrap
      .row
        width: 50%
        display: inline-flex
        &:first-child
          background: unset
          color: unset
        .cell
          color: #5f5c5c
          padding: .5rem
    @media ( max-width: 1200px )
      .row
        .toggleHead
          display: none
      .listBody
        .row
          width: 100%
          display: flex

      
.el-pagination
  .btn-next,
  .btn-prev
    border: 1px solid $tableLineColor
  .btn-next
    margin-left: 10px
  .btn-prev
    margin-right: 10px
  button
    &:disabled
      color: #c4bcbc
      &:hover
        background: #fff
        color: #c4bcbc
    &:hover
      background: $tableLineColor 
    
  .el-pager
    border: 1px solid $tableLineColor
    li
      min-width: 32px
      height: 30px
      line-height: 30px
      font-weight: 500
      &.active
        background-color: $brownC1
        &:hover
          background-color: $brownC1
      &:hover
        background-color: #ab9694

