html,
body
  position: relative

#app
  position: relative

header
  display: flex
  align-items: center
  justify-content: space-between
  background: #dd4814
  border: 1px solid #bf3e11
  color: #fff
  padding: 0 20px
  .icon
    font-size: 30px
  .navTabs
    display: flex
    align-items: center
    justify-content: flex-end
    font-size: 12pt
    >li
      >p
        margin: 10px 0
        line-height: 22px
        padding: 8px 12px