// Dialog限制最小內容寬
.viewFix
  min-width: 1200px
  padding: 0 10px
  &.createneworder
    padding: unset
    @media(max-width: 1200px),(max-height: 800px)
      height: 100%

.font-blue
  color: #5A5AAD
.border-grey
  border: 1px solid #ddd
.bg-yellow
  background-color: #FFF4C1
.bg-green
  background-color: #BBFFBB
.bg-active
  background-color: #FFBFFF
.border-red
  border: 2px solid red

// tool tips
.explanation
  +Flex(flex-start,flex-start)
  flex-direction: column
  li
    +Flex()
    line-height: 24px
    span
      font-size: 14px
    >span:first-child
      display: inline-block
      +size(60px,20px,null)


.confirmBlock
  +Flex(flex-end,center)
  position: relative
  padding: .6rem
  border: 1px solid $tableLineColor
  color: $darkGray
  .phone
    position: absolute
    left: 10px
    >i
      margin-right: 5px

.row
  display: flex
  width: 100%
  color: $darkGray
  &:first-child
    background: $tableHeadColor
    color: #fff
    .cell
      padding: 0.8rem 0
  .cell
    +Flex(center,center)
    flex-wrap: wrap
    border-right: 1px solid $tableLineColor
    border-bottom: 1px solid $tableLineColor
    >span
      text-align: center
      margin: 0 5px
    &:first-child
      flex: 1
    &:nth-child(2),&:nth-child(3)
      flex: .5
    &:last-child
      flex: 3
    .subscriberCell
      width: calc(100% / 5)
      height: 60px
      +Flex(center,center)
      flex-direction: column
      padding: .6rem
      // border-left: 1px solid $tableLineColor
      // &:first-child
      //   border-left: 0
      >span
        pointer-events: none
      >span:first-child
        margin-bottom: 5px
      .editBlock
        display: none
      &.hasPermission:hover
        >span:nth-child(2)
          display: none
        .editBlock
          +Flex(space-between,center)
          >button:last-child
            display: none
          &.confirmDelete
            >button
              display: none
              &:last-child
                display: inline-flex
                width: auto
            
    >div
      +Flex()
      position: relative
    .radio
      line-height: 24px
  .flexFix
    +Flex(flex-start,flex-start)

#order
  .row
    .cell
      padding: .6rem
      &:nth-child(2)
        flex: 1.5
      &:nth-child(3)
        flex: 1
      &:last-child
        flex: 2
      &.menuType
        font-weight: 700
        background: #efebea
  .typeBorder
    padding: .4rem
    border-left: 1px solid #000
    border-right: 1px solid #000

#orderManagement
  .managementContent
    width: 100%
    display: flex
    border: 1px solid $tableLineColor
    border-right: 0
    .contentBlock
      display: flex
      flex-direction: column
      flex: 1
      .contentNav
        width: 100%
        background: $tableHeadColor
        color: #fff
        text-align: center
        border-right: 1px solid $tableLineColor
        padding: 0.8rem 0
      .content
        height: 100%
        +Flex(center,center)
        flex-direction: column
        border-right: 1px solid $tableLineColor
        padding: .6rem
        color: $darkGray
        >ul
          width: 100%
          >li
            line-height: 30px
            list-style: disc
            margin-left: 20px
            >span:first-child
              margin-right: 10px
            .switchBlock
              display: inline-block
        .alignStart
          align-self: flex-start

#newOrder
  display: flex
  +size(100%,100%,null)
  position: relative
  &::after
    content: ''
    +size(1px,100%,null)
    background-color: #ddd
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
  .innerBlock
    +size(100%,800px,null)
    position: relative
    display: flex
    flex-direction: column
    flex: 1
    &:first-child
      padding-right: 10px
    &:last-child
      padding-left: 10px
    @media(max-width: 1200px),(max-height: 800px)
      height: 100%
    .filterCondition,.searchType,.subjectTitle
      margin-bottom: 10px


#addOrder,#storeInfo,#menuList
  .row
    .cell
      padding: .4rem